<!DOCTYPE html>
{% extends 'crypto/base.html' %}
{% load static %}
{% load humanize %}
{% block extraCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'css/currency_page_style.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid" style="width: 95%; margin-inline: auto; padding-top: 2rem">
    <a class="button-33" href="{% url 'index' %}" role="button">Back</a>
</div>
<div class="container-fluid">
    <div class="currency-info">
        <!-- child 1 -->
        <div class="currency-info-section">
            <img src={{imageURL|safe}} width="120" height="120">
        </div>
        <!-- child 2 -->
        <div class="currency-info-section">
            {{currency.name}} ({{currency.symbol}})
        </div>
        <!-- child 3 -->
        <div class="currency-info-section">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p>#{{currency.rank}}</p>
                </div>
                <div class="flip-card-back">
                    <p>Rank</p>
                </div>
            </div>
        </div>
        <!-- child 4 -->
        <div class="currency-info-section">
            <div style="height:560px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F;padding:1px;padding: 0px; margin: 0px; width: 100%;">
                <div style="height:540px; padding:0px; margin:0px; width: 100%;">
                    <iframe src={{graphURL}} width="100%" height="536px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;">

                    </iframe>
                </div>
                <!-- Optional
                <div style="color: #FFFFFF; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;">
                    <a href="https://coinlib.io" target="_blank" style="font-weight: 500; color: #FFFFFF; text-decoration:none; font-size:11px">Cryptocurrency Prices</a>&nbsp;by Coinlib
                </div>-->
            </div>
        </div>
        <!-- child 5 -->
        <div class="currency-info-section">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p>${{currency.price | floatformat:2}}</p>
                </div>
                <div class="flip-card-back">
                    <p>Price</p>
                </div>
            </div>
        </div>
        <!-- child 6 -->
        <div class="currency-info-section">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    {% if currency.day_change > 0%}
                    <p style="color: darkgreen">{{currency.day_change | floatformat:2}}%</p>
                    {% elif currency.day_change < 0%}
                    <p style="color: indianred">{{currency.day_change | floatformat:2}}%</p>
                    {% else %}
                    <p>{{currency.day_change | floatformat:2}}%</p>
                    {% endif %}
                </div>
                <div class="flip-card-back">
                    <p>Daily Change</p>
                </div>
            </div>
        </div>
        <!-- child 7 -->
        <div class="currency-info-section">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p>${{currency.market_cap | intword }}</p>
                </div>
                <div class="flip-card-back">
                    <p>Market Cap</p>
                </div>
            </div>
        </div>
        <!-- child 8 -->
        <div class="currency-info-section">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p>{{currency.market_share | floatformat:2 }}%</p>
                </div>
                <div class="flip-card-back">
                    <p>Market Share</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extraJS %}
<script src="{% static 'js/currency_page_script.js' %}"></script>
{% endblock %}