<!DOCTYPE html>
{% extends 'crypto/base.html' %}
{% load static %}
{% block extraCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'css/currency_page_style.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="currency-info">
        <div class="currency-info-section">
            <img src={{imageURL|safe}} width="120" height="120">
        </div>
        <div class="currency-info-section">
            {{currency.name}} ({{currency.symbol}})
        </div>
        <div class="currency-info-section">
            #{{currency.rank}}
        </div>
        <div class="currency-info-section">
            Price: ${{currency.price | floatformat:2}}
        </div>
        <div class="currency-info-section">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p>${{currency.price | floatformat:2}}</p>
                </div>
                <div class="flip-card-back">
                    <p>Price</p>
                </div>
            </div>
        </div>
        <div class="currency-info-section">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    {% if currency.day_change > 0%}
                    <p style="color: darkgreen">{{currency.day_change | floatformat:2}}%</p>
                    {% elif currency.day_change < 0%}
                    <p style="color: indianred">{{currency.day_change | floatformat:2}}%</p>
                    {% else %}
                    <p>{{currency.day_change | floatformat:2}}%</p>
                    {% endif %}
                </div>
                <div class="flip-card-back">
                    <p>Daily Change</p>
                </div>
            </div>
        </div>
        <div class="currency-info-section">
            Market Cap: ${{currency.market_cap}}
        </div>
        <div class="currency-info-section">
            Market Share: {{currency.market_share | floatformat:2}}%
        </div>
    </div>
</div>
{% endblock %}